.landingpage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  text-align: center;
}

.children {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.subChild1 {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subChild2 {
  width: 100%;
  display: flex;
  justify-content: center;
  background: #faf9f8;
}

.child {
  width: 100%;
  display: flex;
  justify-content: center;
  background: #f2f2f2;
}

.left {
  width: 40%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100%;
}

.right {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.cardWrapper {
  margin: 20px;
}

.imageCardWrapper {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
}
